# Build results
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# VS Code and Visual Studio
.vscode/
.vs/

# Dependency folders
node_modules/
packages/

# Environment files
*.env

# Logs
*.log

# Publish results
wwwroot/dist/
wwwroot/build/

# Rider
.idea/

# OS-specific
.DS_Store
Thumbs.db
